.hero-image{
  height: 100vh;
  width: 100%;
}

.hero-image-mobile{
  display: none;
}

.hover-button {
  height: 152px;
  width: 152px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.16);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all ease 0.3s;
  margin: auto;
  position: relative;
  top: -76px;
}

.button-wrapper{
  height: 152px;
}

.hover-button svg {
  height: 100px;
  fill: #7AB71E;
  transition: all ease 0.3s;
}

.hover-button:hover {
  background-color: #7AB71E;
  height: 198px;
  width: 198px;
  top: -99px;
}

.hover-button:hover svg {
  height: 120px;
  fill: #FFF;
}

@media screen and (max-width: 850px) {
  .hero-image-mobile {
    display: block;
    width: 100%;
    height: 100vh;
    background: url('../../assets/png/Imagem 1.png');
    background-attachment: fixed;
    background-size: cover;
  }

  .hero-image{
    display: none;
  }
}